<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
        <div class="container">
          <table class="table table-bordered table-border text-center shadow">
            <tr>
              <th>ProductId</th>
              <th>ProductName</th>
              <th>CategoryName</th>
              <th>CategoryId</th>
              <th>user delete</th>
              <th>user edit</th>
            </tr>
            <% users.forEach(function(user){ %>
              <tr>
                <td><%= user.ProductId %></td>
                <td><%= user.ProductName %></td>
                <td><%= user.CategoryName%></td>
                <td><%= user.CategoryId%></td>
                <td> <a href="/delete/<%= user.ProductId %>" class="btn btn-primary btn-sm">delete</a></td>
                <td> <a href="/edit/<%= user.ProductId %>" class="btn btn-secondary btn-sm">edit</a></td>
              </tr>
            <% }) %>
          </table>

        </div>
  </body>
</html>
